{% extends 'RencontresBundle::base.html.twig' %}

{% block title %}
    {{ parent() }} | Accueil
{% endblock %}


{% block content %}

    <br><br>

    <img src="{{ asset("img/accueil.jpg") }}" alt="">

    <br><br>
    <br><br>

    <table>
        <tr>
            {% if app.user == null %}<td><a class='btn btn-default' href=" {{ path('login') }}">Connexion</a></td>{% endif %}
            {% if app.user == null %}<td><a class='btn btn-default' href="{{ path('register') }}">S'inscrire</a></td>{% endif %}
            <td><a class='btn btn-default' href="">Découvrir le site</a></td>
        </tr>
    </table>

{% endblock %}


{% block js %}
    <script type="text/javascript" src="{{ asset('js/app.js') }}"> </script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/app_index.css') }}">
{% endblock %}